.container {
    padding: 0 2rem;
    font-family: 'Gotham', sans-serif;
}

.main {
    min-height: 100vh;
    padding: 4rem 0;
    justify-content: center;
    align-items: center;
}

.header__main {
    display: flex;
    flex-direction: row;
    color: #666666;
}

.nav__item {
    display: flex;
    padding: 3px;
    align-items: center;
    width: 184px;
    height: 47px;
    background: rgba(125, 183, 180, 0.15);
    border-radius: 10px;
    font-size: 14px;
}

.nav__item__img {
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 2px;
}

.usertable {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    min-width: 100%;
}

.usertable__head {
    color: #7983A5;
}

.sidebar {
    width: 240px;
    height: 755px;
    background: #FFFFFF;
    box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.2), 10px 10px 24px rgba(166, 180, 200, 0.15);
    border-radius: 40px;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}