.container {
    padding: 0 2rem;
    font-family: 'Gotham', sans-serif;
}

.main {
    min-height: 100vh;
    padding: 4rem 0;
    justify-content: center;
    align-items: center;
}

.header__main {
    display: flex;
    flex-direction: row;
    color: #666666;
}

.nav__item {
    display: flex;
    padding: 7px 5px;
    align-items: center;
    width: 184px;
    height: 47px;
    background: #FFFFFF;
    border-radius: 10px;
    font-size: 10px;
    border-style: none;
}

.nav__item__active {
    background: rgba(125, 183, 180, 0.15);
}

.nav__item__img {
    border-radius: 5px;
    padding: 3px;
    display: flex;
    align-items: center;
    background-color: #FFFFFF;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 2px;
}

.usertable {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    min-width: 100%;
}

.usertable__head {
    color: #7983A5;
    font-size: 12px;
    margin-bottom: 12px;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 10em;
}

.pagination__arrow {
    background-color: #FFFFFF;
    border-style: none;
    font-size: 30px;
    color: #7DB7B4;
    line-height: 11px;
}

.pagination__arrow:disabled,
.pagination__arrow[disabled] {
    color: rgba(125, 183, 180, 0.5);
}

.table__row {
    background: #FFFFFF;
    width: 1040px;
    height: 50px;
    line-height: 50px;
    font-size: 11px;
    vertical-align: middle;
    padding: 25px 50px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: -12px -12px 17px rgba(255, 255, 255, 0.2), 10px -6px 17px rgba(166, 180, 200, 0.15);
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 755px;
    background: #FFFFFF;
    box-shadow: -12px -12px 20px rgba(255, 255, 255, 0.2), 10px 10px 24px rgba(166, 180, 200, 0.15);
    border-radius: 40px;
    margin-right: 20px;
}

.avatar {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.avatar__username {
    font-family: 'Gotham', sans-serif;
    font-size: 12px;
    text-align: center;
}

.avatar__email {
    font-family: 'Gotham', sans-serif;
    font-size: 10px;
    text-align: center;
}

@media (max-width: 600px) {
    .grid {
        width: 100%;
        flex-direction: column;
    }
}